
body{
    background: white;
    padding: 0;
    margin:0;
    
}
header{    
    background-image: url(https://img.freepik.com/foto-gratis/textura-marmol-blanco-panorama-diseno-decorativo-fondo-o-piso-baldosas_42682-513.jpg?size=626&ext=jpg);
    background-position: center;
    display: grid;
    justify-content: center;
    align-content: flex-end;
    padding: 0;
    margin: 0;
    width: 1350px;
}

nav ul{
    list-style: none;
    
    
}
nav ul li{
    display: inline-block;
    
}
nav ul li a{ 
    color: black;
    font-weight: var(--fnt,var(--font_1));
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
    
}  

nav ul li a:hover{
    background:lightgrey;
    overflow: hidden;
    border-radius: 50px;
}
.contenedor{
   
    width: 100%;
    
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat( 4, 265px) ;
    grid-template-rows: 200px 200px 200px 200px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.contenedor header{
    grid-column: span 5;

}
.contenedor .presentacion{
    grid-column: span 5;
    display: flex;
    position: relative;
    margin-top: 200px;
    justify-content: space-around;
    margin-bottom: 00px;
    text-align: center;
    width: 1350px;
}

.contenedor .servicios{
    grid-column: span 5;
    margin-top: 300px;
    
    position: relative;
    text-align: left;
    margin-left: 50px;
}
.contenedor .servicios img{
    width: 200px;
    position: absolute;
    margin-top: 21px;
    
   
}
.contenedor .servicios .imgs{
    margin-left: 200px;
    background: linear-gradient(to bottom, rgb(153, 152, 152) ,rgb(90, 90, 90));
    width: 1100px;
    height: 237px;
}
/*---Formulario---*/
.contenedor .formulario{
    background-color: black;
    grid-column-start: 2;
    grid-column-end: 5;
    color: white;
    width: 815px;
    height: 450px;
    display: flex;
    margin-top: 380px;
    
}
.contenedor .formulario input{
    color: white;
    
}
    
.contenedor .formulario .formi{
    display: table-column;
    text-align: left;
    margin-top: 10px;
    padding: 0px;
}

.contenedor .formulario .transpa{
    background: black;
    width: 60%;
    border: 1px solid white;
    padding: 10px;
    border-radius: 4px;
}


.contenedor .formulario legend{
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
}

.contenedor .formulario .Nombre{
    display: flex;
    margin-left: 50px;
    background-color: black;
    background: none;
    margin-top: 50px;
    
}
.contenedor .formulario .Apellido{
    display: flex;
    margin-left: 50px;
    width: 500px;
    margin-top: 20px;

}
.contenedor .formulario .Consulta{
    display: flex;
    margin-left: 50px;
    height: 100px;
    margin-top: 20px;
    
}
.contenedor .formulario .boton .reset{
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
    width: 180px;
    height: 30px;
    border-radius: 4px;
    background: black;
    border: 2px solid white;
}
.contenedor .formulario .formi p{
    padding: 5px;


}
.contenedor .formulario .boton .enviar{
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
    width: 180px;
    height: 30px;
    border-radius: 4px;
    background:black;
    border: 2px solid white;
}
/*---Mapa---*/
.mapa{
    grid-column-start: 2;
    grid-column-end: 5;
    margin-top: 30px;
}
.contenedor .mapa iframe{
    
    
    height:300px;
    width: 810px;

}
/*---Footer---*/
.contenedor footer{
    grid-column-start: 2 ;
    grid-column-end: 5;
    text-align: center;
    margin-top: 30px;
    background-color: black;
    color: white;
}



/*---Logos---*/
.contenedor .logos{
    display: flex;
    justify-content: right;
    
}


.contenedor .logos .fb{
    height: 30px;
    width: 30px;
    
}
.contenedor .logos .ig{
    height: 30px;
    width: 30px;
    
    
}
.contenedor .logos .wp{
    height: 30px;
    width: 30px;
    
}

.contenedor .fotitos{
    background: white;
    grid-column: span 5;
    display: flex;
    position: relative;
    justify-content: left;
    box-sizing: border-box;
    
}
.contenedor .fotitos .capa{
    position: absolute;
    text-align: left;
    width: 92%;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: un-efecto;
}

.fotitos img{ 
    width: 25%;
    
    height: 190%;
    overflow: hidden;
    border-radius: 25px;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: un-efecto;
}
.fotitos .lifting{
    margin-top: 30px;
    margin-left: 70px;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: un-efecto;
}
.fotitos .cejas{
    margin-top: 30px;
    margin-left: 100px;
   
}
.fotitos .pestañas{
    margin-top: 30px;
    margin-left: 120px;
    
}
.logos .fb{
    width: 50px;
    height: 40px;
}
.logos .ig{
    width: 40px;
    height: 40px;
}
.logos .wp{
    width: 40px;
    height: 40px;
}


@keyframes un-efecto{
    0%{width: 150px;}
    
    
}

/*---Media Queries---*/
@media screen and (max-width:768px) {
    body{
    width: auto;
    height: auto;
    }
    
    
    .contenedor nav ul li a{
  
    
    font-size: 20px;
    }   


    .fotitos img{ 
    width: 320px;
    height: 400px;
    margin: 20px 20px 0px 0px;
    
    }
   .contenedor .presentacion{
    position: relative;
    margin-top:200px;
    font-size: 20px;
    height: 1000px;
    width: 95%;
    }
    
    .contenedor .servicios{
    margin-left: 10px;
    }
    .contenedor .servicios img{
    width: 190px;
    margin-top: 130px;
    }
    .contenedor .servicios .imgs{
    margin-left: 210px;
    margin-right: 35px;
    font-size: 20px;
    margin-top: 130px;
    
    }
    .contenedor .formulario{
    position: absolute;
    
    width: 870px;
    height: 380px;
    margin-top: 1350px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    }
    .contenedor .formulario .formi{
    position: relative;
    text-align: center;
    margin-top: 10px;
    padding: 0;
    width: 400px;
    
    
    }
    .contenedor .formulario .transpa{
    width: 50%;
    padding: 2px;
    font-size: 20px;
    }
    .contenedor .formulario legend{
    margin-left: 12px;
    margin-top: 10px;
    }
    .contenedor .formulario .Nombre{
    display: flex;
    margin-left: 12px;
    margin-top: 20px;
    width: 600px;
    }
    .contenedor .formulario .Apellido{
    
    margin-left: 12px;
    width: 600px;
    margin-top: 20px;

    }
    .contenedor .formulario .Consulta{
    
    margin-left: 12px;
    height: 100px;
    width: 600px;
    margin-top: 20px;
    
    }
    .contenedor .formulario .boton .reset{
    
    margin-left: 12px;
    margin-top: 20px;
    width: 307px;
    height: 28px;
    font-size: 20px;
    
    }
    .contenedor .formulario .formi p{
    padding: 3px;
    }

    .contenedor .formulario .boton .enviar{
    
    margin-left: 12px;
    margin-top: 20px;
    width: 307px;
    height: 28px;
    font-size: 20px;
    }
    .mapa{
   
    position: absolute;
    margin-top: 1800px;
    padding-left: 100px;
    }
    .contenedor .mapa iframe{
    
    
    width: 870px;
    height: 380px;
    }
    .contenedor footer{
    margin-top: 2250px;
    position: absolute;
    font-size:20px;
    padding-left: 5px;
    margin-left: 100px;
    width: 870px;
    height: 380px;
    }   


}

@media screen and (max-width: 425px){

    body{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    }
    header{  
    
    display: grid;
    justify-content: left;
    
    }
    .contenedor{
    width: 0%;
    display: grid;
    grid-template-columns: repeat( 2, 200px) ;
    grid-template-rows: repeat( 2, 200px);
    align-items: flex-start;
    
    
    }
    .contenedor .logos{ 
    position: absolute;
    left: 290px;
    padding-top: 20px;
    }
    nav{
    
    }
    nav ul{
    position: relative;
    
    }
    nav ul li{
    padding-top: 80px;
    
   
    }
    .contenedor nav ul li a{ 
    font-size: 12px;
    padding-left: 10px;

    }  
    .contenedor .fotitos{
    display: block;
    position: relative;
    
    

    }
    .fotitos img{ 
    width: 31.5%;
    height: 130px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    border-radius: 25px;
    
    }
    .contenedor .presentacion{
    position:absolute;
    margin-top:340px;
    font-size: 10px;
    height: auto;
    text-align:center;
    width: 425px;
    height: 290px;
    }
    .contenedor .servicios{
    
    margin-top: 100px;
    font-size: 10px;
    position: relative;
    text-align: left;
    margin-left: 0px;
    }
    .contenedor .servicios img{
    width: 25%;
    position: absolute;
    margin-top: 110px;
    }
    .contenedor .servicios .imgs{
    margin-left: 110px;
    margin-right: 40px;
    text-align: left;
    font-size: 10px;
    

    }
   .contenedor .formulario{
    position: absolute;
    margin-left: 0px;
    width: 425px;
    height: 290px;
    margin-top: 820px;
    
    font-size: 10px;
    }
    .contenedor .formulario .formi{
    position: relative;
    text-align: left;
    margin-top: 5px;
    padding: 0;
    width: 220px;
    margin-right: 30px;
    
    }
    .contenedor .formulario .transpa{
    width: 50%;
    padding: 2px;
    font-size: 10px;
    
    }
    .contenedor .formulario legend{
    margin-left: 10px;
    margin-top: 10px;
    }
    .contenedor .formulario .Nombre{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    width: 300px;
    }
    .contenedor .formulario .Apellido{
    
    margin-left: 10px;
    width: 300px;
    margin-top: 10px;

    }
    .contenedor .formulario .Consulta{
    
    margin-left: 10px;
    height: 100px;
    width: 300px;
    margin-top: 10px;
    
    }
    .contenedor .formulario .boton .reset{
    
    margin-left: 10px;
    margin-top: 10px;
    width: 157px;
    height: 25px;
    font-size: 10px;
    
    }
    .contenedor .formulario .formi p{
    padding: 3px;
    }

    .contenedor .formulario .boton .enviar{
    
    margin-left: 10px;
    margin-top: 10px;
    width: 157px;
    height: 25px;
    font-size: 10px;
    }
    .mapa{
    
    position: absolute;
    margin-top: 1150px;
    padding-left: 0px;
    }
    .contenedor .mapa iframe{
    
    
    width: 425px;
    height: 290px;
    }
    .contenedor footer{
    margin-top: 1480px;
    position: absolute;
    font-size:10px;
    text-align: center;
    padding-left: 1px;
    margin-left: 0px;
    width: 424px;
    height: 190px;
    }   
}
    


