header {
  background-image: url(https://img.freepik.com/foto-gratis/textura-marmol-blanco-panorama-diseno-decorativo-fondo-o-piso-baldosas_42682-513.jpg?size=626&ext=jpg);
  background-position: center;
  display: grid;
  justify-content: center;
  align-content: flex-end;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto; }
  @media (max-width: 768px) {
    header {
      width: auto;
      height: auto; } }
  @media (max-width: 425px) and (max-height: 538px) {
    header {
      width: auto;
      height: auto; } }
  header .log .logi {
    position: absolute;
    margin-left: 500px;
    width: 120px;
    height: 120px; }
    @media (max-width: 768px) {
      header .log .logi {
        margin-left: 0px;
        width: 80px;
        height: 80px; } }
    @media (max-width: 425px) and (max-height: 538px) {
      header .log .logi {
        width: 55px;
        height: 55px;
        margin-left: 0px; } }
  header .logos .logs-v {
    display: flex;
    position: relative;
    justify-content: left;
    padding-top: 70px;
    padding-left: 35px; }
    @media (max-width: 768px) {
      header .logos .logs-v {
        padding-top: 100px;
        padding-left: 600px; } }
    header .logos .logs-v a img.fb {
      height: 30px;
      width: 30px; }
    header .logos .logs-v a img.ig {
      height: 30px;
      width: 30px; }
    header .logos .logs-v a img.wp {
      height: 30px;
      width: 30px; }
  header nav.navbar .container {
    position: relative; }
  header nav.navbar .container ul.navbar-nav .row {
    padding-left: 20px; }
  header nav.navbar .container-fluid a.navbar-brand {
    font-size: 16.4px;
    color: black; }
  header nav.navbar .container-fluid .collapse ul.navbar-nav li.nav-item a.nav-link {
    color: black; }
  header nav ul li a:hover {
    background: grey;
    transition: 0.5s;
    border-radius: 10px;
    overflow: hidden; }

.mlbeau .container .row :nth-child(1) {
  padding-left: 0px;
  padding-right: 0px; }

.mlbeau .container .row :nth-child(1) img.imagin {
  width: 175px;
  height: 200px; }

.mlbeau .container .row :nth-child(2) {
  padding-left: 0px; }

/*--Colores--*/
.formulario .container .row, .Nombre input .container .row, .Apellido .container .row, .Consulta .container .row, .boton .container .row {
  margin-top: 10%;
  background-color: black;
  color: white;
  text-align: center; }

/*--Estilos--*/
.Nombre input, .Apellido input, .Consulta input {
  border: 1px solid white;
  opacity: 1.0;
  width: 50%;
  border-radius: 0.25rem;
  background: black; }

.Consulta input {
  height: 100px; }

.boton input {
  background: black;
  border: 1px solid white;
  color: white;
  border-radius: 0.25rem; }

@media (max-width: 768px) {
  header {
    max-width: 767px;
    height: auto;
    position: relative; }
  header .log .logi {
    margin-left: 0px;
    position: absolute; }
  header .logos {
    max-width: 767px;
    position: relative; }
  header .logos .logs-v {
    padding-top: 0px;
    padding-left: 320px;
    position: relative; }
  header nav.navbar {
    max-width: 767px;
    position: relative; }
  div.fotos .container {
    max-width: 767px;
    margin-left: 0px;
    padding-left: 0px; }
  .fotos .container .row {
    padding-left: 10px;
    margin-right: 0PX; }
  .fotos .container .row :nth-child(1) {
    padding-left: 15px !important;
    padding-right: 0px;
    width: 33%; }
  .fotos .container .row :nth-child(1) img.rounded {
    padding-left: 0px; }
  .fotos .container .row :nth-child(2) {
    padding-left: 15px !important;
    padding-right: 0px;
    width: 33%; }
  .fotos .container .row :nth-child(3) {
    padding-left: 15px !important;
    padding-right: 0px;
    width: 33%; }
  .descrip .container {
    max-width: 767px; }
  .mlbeau {
    height: 200px; }
  .mlbeau .container .row :nth-child(1) img.imagin {
    width: 130px;
    height: 150px; }
  .mlbeau .container .row :nth-child(2) {
    padding-left: 135px;
    padding-right: 0px;
    position: absolute; }
  .mlbeau .container .row :nth-child(2) h1 {
    font-size: 15px; }
  .mlbeau .container .row :nth-child(2) p {
    font-size: 11px;
    padding-left: 0px; }
  .Pregunt .container .row {
    margin-top: 0px !important;
    display: flex;
    flex-direction: column; }
  .col-6 {
    width: 100%;
    padding-top: 50px; }
  .Pregunt h1 {
    font-size: 18px; }
  .Pregunt h5 {
    font-size: 15px; }
  .Pregunt p {
    font-size: 12px; }
  summary {
    font-size: 20px !important; }
  .escue .container-fluid .row .col-6 img {
    width: 100%; }
  .escue .container-fluid .row :nth-child(1) {
    height: 300px; }
  .escue .container-fluid .row :nth-child(2) {
    padding-top: 10px !important;
    height: 50% !important; }
  .escue .container-fluid .row :nth-child(2) h1 {
    font-size: 15px;
    height: 50px; }
  .escue .container-fluid .row :nth-child(2) p {
    font-size: 10px;
    padding-top: 0px; }
  .pasi .container-fluid .row h1 {
    font-size: 15px; }
  .pasi .container-fluid .row p {
    font-size: 10px; }
  .imag .container-fluid .row .im1 {
    width: 150px;
    height: 350px !important; }
  .imag .container-fluid .row .im2 {
    width: 300px;
    padding-left: 137px !important;
    height: 350px !important; }
  .imag .container-fluid .row .im3 {
    width: 471px;
    padding-left: 300px !important;
    height: 350px !important; }
  .tex .container-fluid .row :nth-child(1) {
    padding-left: 0px;
    height: 10%;
    width: 35%; }
  .tex .container-fluid .row :nth-child(2) {
    padding-left: 0px;
    width: 30%; }
  .tex .container-fluid .row :nth-child(3) {
    padding-left: 1%;
    width: 35%; }
  .tex .container-fluid .row h2 {
    font-size: 12px; }
  .tex .container-fluid .row p {
    font-size: 10px; }
  .tabl .container table.table tr > td {
    font-size: 12px; }
  footer p {
    font-size: 10px; } }

@media (max-width: 425px) and (max-height: 538px) {
  header {
    width: auto;
    height: auto; }
  header .log .logi {
    width: 55px;
    height: 55px;
    margin-left: 0px; }
  header .logos {
    height: 1px; }
  header .logos .logs-v {
    display: none !important; }
  header nav.navbar {
    width: 425px; }
  .fotos .container .row {
    width: 427px;
    padding-left: 7px;
    margin-right: 0PX; }
  .fotos .container .row :nth-child(1) {
    padding-left: 0px !important;
    padding-right: 0px;
    width: 140px; }
  .fotos .container .row :nth-child(2) {
    padding-left: 0px !important;
    padding-right: 0px;
    width: 140px; }
  .fotos .container .row :nth-child(3) {
    padding-left: 0px !important;
    padding-right: 0px;
    width: 140px; }
  .mlbeau .container .row :nth-child(2) {
    padding-left: 180px !important;
    width: 500px;
    position: absolute; }
  .mlbeau .container .row :nth-child(2) h1 {
    font-size: 15px; }
  .mlbeau .container .row :nth-child(2) p {
    font-size: 12px; }
  header nav.navbar {
    margin-left: 0px;
    padding-left: 0px;
    float: left; }
  header nav.navbar .container {
    margin-left: 0px;
    padding-left: 0px;
    width: 500px;
    height: 50px; }
  header nav.navbar .container .row {
    margin-left: 0px;
    padding-left: 0px; }
  header nav.navbar ul .row {
    padding-left: 30px !important; }
  header nav.navbar ul .row .col {
    padding-left: 25px;
    padding-top: 4px;
    padding-right: 0px; }
  nav ul li a:hover {
    background: grey;
    transition: 0.5s;
    border-radius: 0px;
    overflow: hidden; }
  .container .row .Nombre, .container .row .Apellido, .container .row .Consulta {
    width: 400px; }
  .container .row .Apellido {
    width: 400px; }
  .container .row .Consulta {
    width: 400px; }
  .container .row .boton {
    margin-top: 20px !important;
    padding-left: 4px; }
  .container .row .boton :nth-child(1) {
    width: 100px;
    text-align: left; }
  .container .row .boton :nth-child(2) {
    width: 100px;
    margin-top: 10px;
    text-align: left; }
  .Pregunt .container .row {
    margin-top: 0px !important;
    display: flex;
    flex-direction: column; }
  .col-6 {
    width: 100%;
    padding-top: 50px; }
  .Pregunt h1 {
    font-size: 18px; }
  .Pregunt h5 {
    font-size: 15px; }
  .Pregunt p {
    font-size: 12px; }
  summary {
    font-size: 20px !important; }
  .escue .container-fluid .row .col-6 img {
    width: 100%; }
  .escue .container-fluid .row :nth-child(1) {
    height: 300px; }
  .escue .container-fluid .row :nth-child(2) {
    padding-top: 20px !important;
    height: 55.7% !important;
    width: 100%; }
  .escue .container-fluid .row :nth-child(2) h1 {
    font-size: 15px; }
  .escue .container-fluid .row :nth-child(2) p {
    font-size: 10px;
    padding-top: 0px; }
  .pasi .container-fluid .row h1 {
    font-size: 15px; }
  .pasi .container-fluid .row p {
    font-size: 10px; }
  .imag .container-fluid .row .im1 {
    width: 150px;
    height: 350px !important; }
  .imag .container-fluid .row .im2 {
    width: 280px;
    padding-left: 130px !important;
    height: 350px !important; }
  .imag .container-fluid .row .im3 {
    width: 413px;
    padding-left: 270px !important;
    height: 350px !important; }
  .tex .container-fluid .row h2 {
    font-size: 12px; }
  .tex .container-fluid .row p {
    font-size: 10px; }
  .tabl .container table.table tr > td {
    font-size: 12px; }
  footer p {
    font-size: 10px; } }
