@import "./responsive";
header{    
    background-image: url(https://img.freepik.com/foto-gratis/textura-marmol-blanco-panorama-diseno-decorativo-fondo-o-piso-baldosas_42682-513.jpg?size=626&ext=jpg);
    background-position: center;
    display: grid;
    justify-content: center;
    align-content: flex-end;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    @include tablet {
        width: auto;
        height: auto;
    }
    @include movil {
        width: auto;
        height: auto;
    }
    .log .logi{
        position: absolute;
        margin-left: 500px;
        width: 120px;
        height: 120px;
        @include tablet{
            margin-left: 0px;
            width: 80px;
            height: 80px;

        }
        @include movil {
            width: 55px;
            height: 55px;
            margin-left: 0px;

        }

    }
    

    .logos .logs-v{
        display: flex;
        position: relative;
        justify-content:left; 
        padding-top:70px;
        padding-left: 35px;
        @include tablet {
            padding-top: 100px ;
            padding-left: 600px ;
        }

        a img.fb{
            height: 30px;
            width: 30px;


        }
        a img.ig{
            height: 30px;
            width: 30px;

        }

        a img.wp{
            height: 30px;
            width: 30px;

        }
    }
    nav.navbar .container{
        position: relative;

    }

    nav.navbar .container ul.navbar-nav .row{
        padding-left: 20px;

    }

    nav.navbar .container-fluid a.navbar-brand{
        font-size: 16.4px;
        color: black;
    }
    nav.navbar .container-fluid .collapse ul.navbar-nav li.nav-item a.nav-link{
        color: black;

    }



    nav ul li a:hover{
        background:grey;
        transition: 0.5s;
        
        border-radius: 10px;
        overflow: hidden;
        
    }
}
