@media (max-width: 992px){
    header .log .logi{
        margin-left: 0px;
    }
    header .logos .logs-v{
        padding-left: 500px;
        
    }
    .mlbeau .container .row :nth-child(2){
        padding-left: 180px;
        position: absolute;
        width: 81%;
        
    }
    .mlbeau .container .row :nth-child(2) h1{
        font-size: 20px;
    }.mlbeau .container .row :nth-child(2) p{
        font-size: 15px;
        padding-left: 0px;
    }
    .escue .container-fluid .row .col-6 img{
        width: 200%;

    }
    
    .escue .container-fluid .row :nth-child(1){
        
        height: 500px;

    }
    .escue .container-fluid .row :nth-child(2){
        padding-top: 150px ;
        height: 47.2%;
        
    }
    .escue .container-fluid .row :nth-child(2) h1{
        font-size: 20px;
        height: 50px;
    }
    .escue .container-fluid .row :nth-child(2) p{
        font-size:15px;
        padding-top: 0px;
    }
    .pasi .container-fluid .row h1{
        font-size: 20px;

    }
    .pasi .container-fluid .row p{
        font-size:15px;

    }
    .imag .container-fluid .row img.im1{
    height: 500px;
    width: 282px;
    position: absolute;

    }
    .imag .container-fluid .row img.im2{
        height: 500px; 
        
        width: 350px;
        position: absolute;
    }
    .imag .container-fluid .row img.im3{
        width: 258px;
        height: 500px;
        padding-left: 30px;
        position: absolute;
    }
    .tex{
    padding-top: 150px;

    }
    .tex .container-fluid .row .col-4{
        width: 33.3%;

    }
    .tex .container-fluid .row :nth-child(1) .carr2{
        padding-top: 50px;

    }
    .tex .container-fluid .row :nth-child(2) .perf{
        padding-left: 30px;
    }
    .tex .container-fluid .row :nth-child(2) .perf2{
        padding-top: 30px;
        padding-left: 30px;
    }
    .tex .container-fluid .row :nth-child(3) .curs{
        padding-left: 50px;
    }
    .tex .container-fluid .row :nth-child(3) .curs2{
        padding-top: 30px;
        padding-left: 50px;
    }
    .tex .container-fluid .row :nth-child(1){
        
        
        padding-right:0%; 
        text-align: left;
        position: relative;  



    }
    .tex .container-fluid .row :nth-child(2){
        
        padding-left:0px; 
        padding-right: 0px; 
        
        text-align: left;
        position: relative;  


    }
    .tex .container-fluid .row :nth-child(3){
        
        padding-right:0px; 
        text-align: left;
        
        position: relative;  


    }
    
    .tex .container-fluid .row h2{
        font-size: 15px;
        
     }
     .tex .container-fluid .row p{
          font-size: 12px;
     }







    
    .Pregunt .container :nth-child(1){
        padding-top: 20px;
        margin-top: 0px !important;
        width: 100%;
        flex-direction:column;
        margin-bottom: 20px;
    }
    .Pregunt .container :nth-child(2){
        
        margin-top: 0px !important;
        width: 100%;
        flex-direction:column;
        margin-bottom: 20px;
    }
    
    .Pregunt .container .row :nth-child(2){
        padding-top: 20px;

    }
    .foot .container .row{
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
}


@media  (max-width:425px){
   header{
        padding-top: 40px;
        padding-bottom: 10px;
        width: 100%;
        height: auto;
        position: relative;
    }
    header .log .logi{
        width: 25%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        
    }
    header .logos{
        width: 25%;
        position: absolute;
        right: 0;
    }
    header .logos .logs-v{
        padding-top: 0px;
        width: 100%;
        padding-left:0px ;
        right: 0;
        position: absolute;
    }
    header nav.navbar{
        width: 100%;
        position: relative;
        bottom: 0;
        margin-right: 280px;
        margin-top: 20px;
    }
    .fotos .container-fluid .row{
        display: grid;

    }

    .fotos .container-fluid .row .col-4{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;

    }
    .fotos .container-fluid .row .col-4 img.lif{
        box-sizing: border-box; 
        overflow: hidden; 
        border-radius: 55px; 
        width: 150%; 
        height: auto; 
        margin: 0;
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        left: 94px;

    }
    .fotos .container-fluid .row .col-4 img.cej{
        box-sizing: border-box; 
        overflow: hidden; 
        border-radius: 55px; 
        width: 150%; 
        height: auto; 
        margin: 0;
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        left: 94px;
        top: 160px;
    }
    .fotos .container-fluid .row .col-4 img.pes{
        box-sizing: border-box; 
        overflow: hidden; 
        border-radius: 55px; 
        width: 150%; 
        height: auto; 
        margin: 0;
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        left: 94px;
        top: 300px;
    }

    .descrip{
        width: 100%;
        height: auto;
        top: 278px;
        position: absolute;

    }
    .descrip .container-fluid .row{
        display: grid;
        

    }
    .descrip .container-fluid .row .col-4 :nth-child(1) h3 {
        font-size: 15px;
        margin-bottom: auto;
    }
    .descrip .container-fluid .row .col-4 :nth-child(1) p{
        font-size: 12px;
        margin-bottom: auto;
    }
    .descrip .container-fluid .row .col-4 .li{
        position: relative ;
        text-align: center;
        padding-top: 0px;
        color: black;
        opacity: 1;
        width: 21.875rem;
        height: auto;
        top: 13.313rem;
        
        
    }

    .descrip .container-fluid .row .col-4 .ce{
        position: relative ;
        text-align: center;
        padding-top: 0px;
        color: black;
        opacity: 1;
        width: 21.875rem;
        height: auto;
        top: 32.188rem;  
        
    }
    .descrip .container-fluid .row .col-4 .pe{
        position: relative ;
        text-align: center;
        padding-top: 0px;
        color: black;
        opacity: 1;
        width: 20.875rem;
        height: auto;
        top: 47.938rem;
        
    }

    .descrip .container-fluid .row .col-4 .li:hover{
        background:none;
        transition:none;
        border-radius: 551px;
        overflow: hidden;
        opacity: 1;       
        width: 21.875rem;
        height: auto;
        top: 13.313rem;
        
    }
    .descrip .container-fluid .row .col-4 .ce:hover{
        background:none;
        transition:none;
        border-radius: 551px;
        overflow: hidden;
        opacity: 1;        
        width: 21.875rem;
        height: auto;
        top: 32.188rem;
    }
    .descrip .container-fluid .row .col-4 .pe:hover{
        background:none;
        transition:none;
        border-radius: 551px;
        overflow: hidden;
        opacity:1;       
        width: 21.875rem;
        height: auto;
        top: 47.938rem;
    }
    .mlbeau{
        height: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;

    }
    .mlbeau .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
    }
    .mlbeau .container-fluid .row{
        margin-left: 0px;
        margin-right: 0px;

    }
    .mlbeau .container-fluid .row :nth-child(1) img.imagin{
        width: 130px;
        height: auto;
        left: 130px;
        max-height: 200px;
        position: relative;
    }
    .mlbeau .container-fluid .row :nth-child(2){
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 0px;
        overflow: auto;
    }
    .mlbeau .container-fluid .row :nth-child(2) h1{
        font-size: 15px;
    }.mlbeau .container-fluid .row :nth-child(2) p{
        font-size: 11px;
        margin-top: 0px;
        padding-left: 0px;
    }
    .Pregunt .container .row{
         
        margin-top: 0px !important;
        display: flex;
        flex-direction:column;
        
    }
    .col-6{

        width: 100%;
        padding-top: 50px;
    }
    .Pregunt h1{
        font-size: 18px;
    }
    .Pregunt h5{
        font-size: 15px;
    }
    .Pregunt p{
        font-size: 12px;

    }
    summary{
        font-size: 20px !important;
    }
    .escue .container-fluid .row .col-6 img{
        width: 100%;

    }
    .escue .container-fluid .row :nth-child(1){
        
        height: 300px;

    }
    .escue .container-fluid .row :nth-child(2){
        padding-top: 10px;
        height: 40% ;
        
    }
    .escue .container-fluid .row :nth-child(2) h1{
        font-size: 15px;
        height: 50px;
    }
    .escue .container-fluid .row :nth-child(2) p{
        font-size:10px;
        padding-top: 0px;
    }
    .pasi .container-fluid .row h1{
        font-size: 15px;

    }
    .pasi .container-fluid .row p{
        font-size:10px;

    }
    .imag .container-fluid .row img.im1{
        height: 400px;
        width: 180px;
        position: absolute;

    }
    .imag .container-fluid .row img.im2{
        height: 400px; 
        width: 250px;
        position: absolute;
    }
    .imag .container-fluid .row img.im3{
        width: 161px;
        height: 400px;
        padding-left: 10px;
        position: absolute;
    }
    .tex{
        padding-top: 20px;

    }
    .tex .container-fluid .row .col-4{
        width: 33.3%;

    }
    .tex .container-fluid .row :nth-child(1) .carr2{
        padding-top: 50px;

    }
    .tex .container-fluid .row :nth-child(2) .perf{
        padding-left: 20px;
    }
    .tex .container-fluid .row :nth-child(2) .perf2{
        padding-top: 13px;
        padding-left: 20px;
    }
    .tex .container-fluid .row :nth-child(3) .curs{
        padding-left: 25px;
    }
    .tex .container-fluid .row :nth-child(3) .curs2{
        padding-top: 13px;
        padding-left: 25px;
    }
    .tex .container-fluid .row :nth-child(1){
        padding-right:0%; 
        text-align: left;
        position: relative;  



    }
    .tex .container-fluid .row :nth-child(2){
        
        padding-left:0px; 
        padding-right: 0px; 
        
        text-align: left;
        position: relative;  


    }
    .tex .container-fluid .row :nth-child(3){
        
        padding-right:0px; 
        text-align: left;
        
        position: relative;  


    }
    
    .tex .container-fluid .row h2{
        font-size: 12px;
        padding-bottom: 15px;
        
     }
     .tex .container-fluid .row p{
          font-size: 10px;
     }
    .tabl .container table.table tr > td{
        font-size: 12px;

    }
    footer{
        width: 100%;

    }
    footer p{
        font-size: 10px;

    }
}

